@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

.main{
    min-height: 100vh;
    background: linear-gradient(180deg, #CCFEF2 0%, rgba(255, 255, 255, 0) 100%), #F3F3F3;
    display: flex;
}

.is-card{
    min-height: 600px;
    width: 700px;
    background: #fff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin: 0 auto;
    align-self: center;
    display: flex;
}

.aside{
    width: 220px;
    background: #f9f9f9;
    padding: 25px 0;
    min-height: inherit;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.is-box-top{
    width: 122px;
    height: 122px;
    background: #c4c4c4;
    border-radius: 18px;
    margin: 0 auto;
}


ul.for-checkboxes{
    list-style: none;
}
li{
    padding: 15px 30px;
    background: none;
    color: #40cbb2;
    font-size: 16px;
    transition: background .3s ease-in;
    cursor: pointer;
}
.for-checkboxes li:hover{
    background: #fff;
}

.is-box-down{
    height: 184px;
    width: 184px;
    background: #fff;
    border-radius: 15px;
    margin: 0 auto;
}

.details{
    padding: 40px 15px;
    /* background: red; */
    width: calc(100% - 220px);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.align{
    text-align: right;
}

.btn{
    display: inline-block;
    cursor: pointer;
    outline: none;`
}

.btn-j{
    padding: 5px 8px;
    border: none;
    border-radius: 24px;
    color: #40cbb2;
    background: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}


.form *{
    display: block;
    /* background: red; */
    width: 100%;
    padding: 0 20px;
    align-self: center;
    outline: none;
}

.input-w{
    height: 50px;
    border-radius: 10px;
    border: 2px solid #f6f6f6;
    font-size: 30px;
    transition: border .3s ease-in-out;
}
.input-ab{
    position: relative;
    z-index: 333;
}
.slash{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 20px;
    height: 20px;
    /* background: red; */
    font-size: 30px;
    color: #000;
    display: none;
    z-index: 22;
}
.input-w:focus{
    border: 2px solid #4be4bf;
}

.input-w::placeholder{
    font-size: 30px;
    color: #adadad;
}
.exp-cvv{
    display: flex;
    justify-content: space-between;
    /* background: green; */
    border-radius: 10px;
    padding: 25px 0;
}

.pin-flex{
    display: flex;
    padding: 0 0;
    justify-content: space-between;
    width: 250px;
    padding-bottom: 15px;
}
.input-p{
    height: 35px;
    width: 55px;
    border: 1px solid transparent;
    background: #f7f7f7;
    border-radius: 8px;
}
.help-text{
    background: #16D6B3;
    color: #fff;
    width: 230px;
    border-radius: 5px;
    text-align: center;
    display: none;
}
.btn-pay{
    width: 150px;
    height: 50px;
    font-size: 30px;
    letter-spacing: 0.2rem;
    border: none;
    color: #fff;
    background: #16D6B3;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    position: relative;
    transition: all .3s ease-in-out;
}

.btn-pay:hover{
    background: #fff;
    color: #16D6B3;
    border: 2px solid #16D6B3;

}
.btn-pay:active{
    transform: translateY(2px);
    box-shadow: none;   
}

* .label{
    font-size: 14px;
    margin-bottom: 15px;
}

.label-color{
    color: #40cbb2;
}